* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Prata', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

button, input {
  border: 0;
  outline: 0;
}

.flex-sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}